<div class="form-section">
  <h2 class="section-title">Sample Information</h2>
  <div class="form-grid">
    <div class="form-group">
      <label for="sampleName">Sample</label>
      <input type="text" id="sampleName" />
    </div>

    <div class="form-group">
      <label for="sampleConcentration">Sample Concentration</label>
      <input type="text" id="sampleConcentration" />
    </div>
    <div class="form-group">
      <label for="additives">Additives</label>
      <input
        type="text"
        id="additives"
        placeholder="Enter additives you added to your sample"
      />
    </div>
    <div class="form-group">
      <label for="volume">Volume [µl]</label>
      <input type="text" id="volume" placeholder="e.g. 3.5" />
    </div>
  </div>
</div>
