<div class="form-section">
  <h2 class="section-title">Sample Information</h2>
  <div class="form-grid">
    <div class="form-group">
      <label for="sampleName">Sample</label>
      <input
        type="text"
        id="sampleName"
        placeholder="Enter sample information"
      />
    </div>

    <div class="form-group">
      <label for="sampleConcentration">Sample Concentration</label>
      <input
        type="text"
        id="sampleConcentration"
        placeholder="Enter sample concentration with SI unit"
      />
    </div>
    <div class="form-group">
      <label for="additives">Additives</label>
      <input
        type="text"
        id="additives"
        placeholder="Enter additives you added to your sample (e.g. 0.01% Tween-20, 0.1% DDM, etc.)"
      />
    </div>
    <div class="form-group">
      <label for="volume">Default Volume [µl]</label>
      <input type="number" id="volume" step="0.1" placeholder="3.5" />
    </div>
  </div>
</div>
